/node_modules
/public/hot
/public/storage
/public/store
/storage/*.key
/vendor
/.idea
/.vscode
.env
/storage
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
storage/debugbar/.gitignore
