.cart-banner {
    width: 100%;
    padding: 100px 0;
    background-color: $secondary;

    .payment-hint {
        margin-top: 30px;
    }

    @media (max-width: $screen-xs-max) {
        padding: 50px 0;
    }
}

.cart-row {
    padding: 20px 0;
    border-bottom: solid 1px $gray-300;

    img{
        border-radius: 10px !important;
    }

    .image-box{
        &::after{
            border-radius: 10px !important;
        }
    }

    .webinar-card{
        &:hover{
            transform: inherit;
            box-shadow: inherit;
            transition: inherit;
        }
    }



    .btn-cart-list-delete {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $gray-300;

        svg {
            color: #707070;
        }

        &:hover{
            background-color: #f63c3c;
            color: #FFF;
            transition: all 0.3s ease;

            svg{
                color: #FFF;
                transition: all 0.3s ease;
            }
        }

        &:after {
            content: '';
            width: 36px;
            height: 36px;
            background-color: transparent;
            border: 1px solid $gray-300;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }

        &:hover {
            &:after {
                border-color: #f63c3c;
                transition: all 0.3s ease;

            }
        }
    }
}

.cart-checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid $gray-300;
}

.razorpay-payment-button {
    opacity: 0;
    visibility: hidden;
}
