.blog-grid-card {
    border-radius: 15px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: all 0.5s ease;

    .blog-grid-image {
        position: relative;
        width: 100%;
        height: 250px;

        img {
            border-radius: 15px 15px 0 0;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 60%;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(6, 6, 6, 0), rgba(0, 0, 0, 0.8));
            z-index: 1;
        }

        .created-at {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.19;
            color: #ffffff;
            border-radius: 20px;
            padding: 10px 15px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            background-color: $primary;
            position: absolute;
            bottom: -16px;
            right: 25px;
            transition: all 0.5s ease;
            z-index: 2;
        }
    }

    .blog-grid-detail {
        padding: 24px 15px;


        .blog-grid-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
            color: $dark-blue;
        }

        .blog-grid-desc {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.29;
            color: $gray;
            height: 85px;
            border-bottom: 1px solid $gray-300;
            overflow: hidden;
            pointer-events: none;
        }

        .blog-grid-footer {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.19;
            color: $gray;
            pointer-events: none;
        }
    }
    &:hover{
        transform: translateY(-25px);
        box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
        transition: all 0.5s ease;

        .created-at{
            background-color: $secondary;
            transition: all 0.5s ease;
        }
    }
}

.popular-post {
    .popular-post-image {
        width: 110px;
        min-width: 110px;
        height: 75px;
    }

    .popular-post-content {
        height: 75px;
    }
}

.post-show {
    p, span {
        color: $gray !important;
        margin-top: 15px !important;
    }

    img {
        border-radius: 15px !important;
        width: 100% !important;
        overflow: hidden;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%;
    }

    h1, h2, h3 {
        font-size: 20px !important;
        font-weight: bold !important;
        color: $dark-blue !important;
        margin-top: 25px !important;
    }
}
