body {
    &.rtl {
        direction: rtl;
        font-family: $font-family-rtl !important;
        text-align: right;

        .text-left {
            text-align: right !important;
        }

        .text-right {
            text-align: left !important;
        }

        .dropdown-menu {
            text-align: right !important;
        }
    }
}

