.rtl {
    @for $i from 1 through 10 {
        .mr-#{$i*5} {
            margin-left: #{$i*5}px !important;
            margin-right: initial !important;
        }
    }

    @for $i from 1 through 10 {
        .ml-#{$i*5} {
            margin-right: #{$i*5}px !important;
            margin-left: initial !important;
        }
    }

    @for $i from 1 through 10 {
        .pr-#{$i*5} {
            padding-left: #{$i*5}px !important;
            padding-right: initial !important;
        }
    }

    @for $i from 1 through 10 {
        .pl-#{$i*5} {
            padding-right: #{$i*5}px !important;
            padding-left: initial !important;
        }
    }
}

.rtl {
    .mr-auto {
        margin-right: initial !important;
        margin-left: auto !important;
    }

    .ml-auto {
        margin-left: initial !important;
        margin-right: auto !important;
    }
}
